<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5255904809-bj90b7jnjmvdrho4nllj5tn2crricah3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5255904809-bj90b7jnjmvdrho4nllj5tn2crricah3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>5255904809-dt6sa9mv6facdh35424c091g36gem15b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIqWc09YBAXYc50rOp3Eab4ExymJ7ZRAY</string>
	<key>GCM_SENDER_ID</key>
	<string>5255904809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stdiogame.planecontrol</string>
	<key>PROJECT_ID</key>
	<string>landing-control-6336467</string>
	<key>STORAGE_BUCKET</key>
	<string>landing-control-6336467.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5255904809:ios:9dc6863b4f160b75e22638</string>
	<key>DATABASE_URL</key>
	<string>https://landing-control-6336467.firebaseio.com</string>
</dict>
</plist>